body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav .nav-link svg {
  position: relative;
  top: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fn-cards {
  .card {
    border: none;
    outline: none;
    transition: .1s;
    &:hover {
      box-shadow: 0 0 3pt 2pt cornflowerblue;
    }
  }
}
.card, .fn-cards {
  .card-title {
    text-align: center;
  }
}

.createComment {
  textarea {
    width: 100%;
    height: 125px !important;
  }
  label {
    display: block;
  }
}


.hidden {
  &[role=alert] {
    width: 400px;
    border-radius: 4px;
    border: 2px solid #eed202;
    background-color: #fff9d2;
    padding: 5px;
    margin: 10px;
    & h3 {
      text-align: center;
    }
  }
}

.sidebar-wrapper {
  position: relative;
  #volume-control {
    position: fixed;
    bottom: 0;
    width: 260px;
    left: 0;
    .ikon {
      padding: 10px;
      cursor: pointer;
    }
  }
}

.card-title {
  &,&.lg {
    font-size: 100%;
  }
  &.md {
    font-size: 90%;
  }
  &.sm {
    font-size: 80%;
  }
}

.board-game {
  .card {
    &:hover {
      cursor: pointer;
    }
    .kard {
      position: relative;
      &:hover {
        background: black;
        transform: scale(1.1);
        border-radius: 5px;
        .ikon {
          color: white;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          &.sm { padding-top: 10px; }
          &.md { padding-top: 70px; }
          &.lg { padding-top: 100px; }
        }
        img {
          opacity: 0.8;
          border-radius: 5px;
        }
      }
      .ikon {
        display: none;
        width: 100%;
        text-align: center;
      }
    }
    .card-body {
      .card-title + .card-title {
        display: none;
      }
      &:hover {
        position: relative;
        border-radius: 0 0 5px 5px;
        &.on-list {
          background-color: pink;
          svg.add { display: none }
        }
        &.off-list {
          background-color: lightgreen;
          svg.remove { display: none }
        }
        .card-title + .card-title {
          text-align: center;
          width: 100%;
          display: block;
          position: absolute;
          top: 35px;
          left: 0;
        }
      }
    }
  }
}
