.content.board-game {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  padding: 0;
  margin: 0;
  .cards-users {
    background-color: blue;
    width: 100%;
    .users-list,
    .cards-list {
      height:100vh;
      overflow-y: scroll;
    }
    .cards-list {
      width: 65%;
      background-color: pink;
    }
    .users-list {
      width: 35%;
      background-color: orange;
    }
  }
  .info, .filters .dropdown {
    margin-top: 6px;
  }
}
